PORT=8000
MONGODB_URI=mongodb+srv://ritesh:Ritesh123@cluster0.nrmckrt.mongodb.net/?appName=Cluster0
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=backend-learning
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret